<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.friendconnect"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:name=".main.AndroidApplication" android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
    	<uses-library android:name="com.google.android.maps"/>
        <activity android:clearTaskOnLaunch="true" android:label="@string/app_name" android:name=".main.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.LoginActivity" android:label="@string/activityLogin"/>
		<activity android:name=".activities.FriendListActivity" android:label="@string/app_name"/>
		<activity android:name=".activities.PendingInvitesListActivity" android:label="@string/activityTitlePendingInvites"/>
		<activity android:name=".activities.EditProfileActivity" android:label="@string/activityEditProfile"/>
		<activity android:name=".activities.FriendMapActivity" android:label="@string/activityFriendMap"/>
		<activity android:name=".activities.EditPoiActivity" android:label="@string/activityEditPoi"/>
		<activity android:name=".activities.POIAlertListActivity" android:label="@string/activityPOIAlertList"/>
		<activity android:name=".activities.POIAlertActivity" android:label="@string/activityPOIAlert"/>
		<service android:name=".services.FriendUpdateService" android:enabled="true"/>
		<service android:name=".services.POIAlertNotificationService" android:enabled="true"/>
	</application>
    <uses-sdk android:minSdkVersion="3" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
   	<uses-permission android:name="android.permission.VIBRATE"/>
</manifest> 