<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	     http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="xmlRpcService" class="com.friendconnect.services.XmlRpcService">
		<property name="serializer" ref="objectSerializer" />
		<property name="userService" ref="userService" />
	</bean>

	<bean id="userService" class="com.friendconnect.services.UserService">
		<property name="userDao" ref="userDao"/>
		<property name="applicationName" value="FriendConnect"/>
		<property name="baseURL" value="http://www.google.com/m8/feeds/contacts"/>
		<property name="projection" value="thin"/>
	</bean>

	<bean id="objectSerializer" class="com.friendconnect.xmlrpc.ObjectSerializer" />

</beans>