<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	     http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="userDao" class="com.friendconnect.dao.UserDao">
		<property name="persistenceManagerFactory" ref="persistenceManagerFactory" />
	</bean>

	<bean id="persistenceManagerFactory"
		class="org.springframework.orm.jdo.LocalPersistenceManagerFactoryBean">
		<property name="persistenceManagerFactoryName" value="transactions-optional" />
	</bean>

	<bean id="transactionManager" class="org.springframework.orm.jdo.JdoTransactionManager">
		<property name="persistenceManagerFactory" ref="persistenceManagerFactory" />
	</bean>

</beans> 
	     